@page
@model VaderData.Pages.SearchModel
@{
}
<div class="transparentbox text-center">
    <h5 class="display-5">Visa data för ett specifikt datum och mätplats</h5>

</div>
@*<div class="text-center">*@
    <form method="post">
        <div class="form-group">
            <label for="selectDate">Välj Datum</label>
            <input type="date" id="selectDate" class="form-control" value=@Model.Date.ToShortDateString() min="2016-05-31" max="2017-01-10" asp-for="Date" />
        </div>
        <div class="form-group">
            <label for"selectLocation">Välj Plats</label>
            <select id="selectLocation" asp-for="Location" class="form-control">
                <option value="Inne" selected="selected">Inomhus</option>
                <option value="Ute">Utomhus</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" asp-page-handler="SearchDate">Visa</button>
        </div>
    </form>


    <br />

    <p>@Model.Message</p>

@*</div>*@
<div>

    <form method="post">
        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th>Datum</th>
                    <th>Luftfuktighet</th>
                    <th>Mögelrisk</th>
                    <th>Temperatur</th>
                </tr>
            </thead>
            @if (Model.Data != null)
            {
                @foreach (var row in Model.Data)
                {
                    <tr>
                        <td>@row.DateTime.ToShortDateString()</td>
                        <td>@Math.Round(row.Humidity, 1)%</td>
                        <td>@(Math.Round(row.MoldRisk, 1) < 0 ? 0 : Math.Round(row.MoldRisk, 1))%</td>
                        <td>@Math.Round(row.Temperature, 1)&#176;C</td>
                       

                    </tr>

                }
            }
        </table>


    </form>

</div>